/* Primary colors */
$darkViolet: hsl(256, 26%, 20%);
$grayishBlue: hsl(216, 30%, 68%);

/* Neutral Colors */
$veryDarkViolet:hsl(270, 9%, 17%) ;
$darkGrayishViolet:hsl(273, 4%, 51%);
$veryLightGray:hsl(0, 0%, 98%);

*{
    padding: 0;
    margin: 0;
}
%body{
    font-size: 16px;
    font-family:'Karla';
    font-weight: 700;
}
body{
    @extend %body;
}
/* Nav */

nav{
    display: flex;
    justify-content: space-between;
    margin: 15px 104px 0;
    line-height: 1.6;
    
    %Nav{
        font-family: 'DM Serif Display';
        font-weight: 400;
        text-transform: uppercase;
    }
    .links a, #logo {
        @extend %Nav;
        padding: 15px;
        text-decoration:none;
        color:$darkGrayishViolet
        
    }
    .links input{
        @extend %Nav;
        padding: 5px;
        border:1px solid $veryDarkViolet;
        color: $veryDarkViolet;
    }
}

/* Page Body */
.main-wrapper{
    @extend %body;
    position: relative;
    color: $veryLightGray;
    background-color: $darkViolet;
    height: 573px;
    
    
    .wrapper{
        position: relative;
        padding: 97px 104px;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        // background-color: $darkViolet;
        #line{
            width: 6.5%;
            margin-bottom: 35px;
            border-bottom: 1px solid white;
        }
        .title{
            font-size: 20px;
            
            h1{
                width: 43%;
            }
            .description{
                max-width: 93%;
            }
            
        }
        .description{
            margin-top: 20px;
            input{
                margin-top: 20px;
                padding: 10px 26px;
                text-transform: uppercase;
            }
        }
        .image #top-right{
            position: absolute;
            transform: translate(-62%, -30%);
            overflow: hidden;
            z-index: 1;
        }
    }
}
#bottom-left{
    position: absolute;
    transform: translate(-55%,4%);
    
}
.line{
        width: 7%;
        margin: 15px 0 ;
        border-bottom: 1px solid black;
    }
#k{
    .wrapper{
        margin: 0 104px ;
    }
}
.items{
    color: $darkGrayishViolet;
    display: flex;
    justify-content: space-between;
    .item{
        margin:15px 15px 15px 0px ;
        width: 63%;
    }
}
#about{
    overflow: hidden;
    
    img{
    position:absolute;
    transform: translate(796px, -30px);
    }
}
.container-wrapper{
    
    background-color: $darkViolet;
    color: $veryLightGray;
    display: flex;
    justify-content: space-between;
    padding: 70px 80px;
    .heading{
        width: 25%;
    }
    .btn input{
        background-color: $darkViolet;
        color: $veryLightGray;
        border: 1px solid $veryLightGray;
        padding: 10px;
        text-transform: uppercase;
        z-index: 1;
    }
}

.footer{
    padding: 40px 104px;
    text-transform: uppercase;
    background-color: $veryLightGray;
    #footer-img{
        position: absolute;
        transform: translate(-164px, -37px);
    }
    div .footer-nav{
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        
        .social-media img{
            padding: 0 5px;
        }
    }
    .line{
        width: 100%;
        border-bottom: 1px solid $grayishBlue;
        margin: 10px 0;
    }
}
.links{
    margin: 20px 0 30px;
    #first-row{
        color:$grayishBlue
    }
    div{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        margin: 5px 0;
    }
}

/* @media queries (Responsive design */

/* For screen 4k (2560px)  */
@media only screen and  (max-width: 2560px){
    

    .main-wrapper .wrapper .image{
        max-width: 100%;
    }
}