/* Primary colors */
/* Neutral Colors */
* {
  padding: 0;
  margin: 0;
}

body, .main-wrapper {
  font-size: 16px;
  font-family: 'Karla';
  font-weight: 700;
}

/* Nav */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 168px;
}

nav .links a, nav .links input {
  font-family: 'DM Serif Display';
  font-weight: 400;
  text-transform: uppercase;
}

nav .links a {
  padding: 15px;
  text-decoration: none;
  color: #837d87;
}

nav .links input {
  padding: 5px;
  border: 1px solid #2b272f;
  color: #2b272f;
}

#top-right {
  z-index: 10;
  position: relative;
  -webkit-transform: translateY(-83px);
          transform: translateY(-83px);
  float: right;
}

/* Page Body */
.main-wrapper {
  overflow: hidden;
  color: #fafafa;
  background-color: #2d2640;
}

.main-wrapper .wrapper {
  margin: 97px 168px;
}

.main-wrapper .wrapper #line {
  width: 6.5%;
  margin-bottom: 35px;
  border-bottom: 1px solid white;
}

.main-wrapper .wrapper .title {
  width: 23%;
  font-size: 20px;
}

.main-wrapper .wrapper .description {
  margin-top: 20px;
  width: 40%;
}

.main-wrapper .wrapper .description input {
  margin-top: 20px;
  padding: 10px 26px;
  text-transform: uppercase;
}

.main-wrapper .wrapper .image {
  position: absolute;
  -webkit-transform: translate(105%, -296px);
          transform: translate(105%, -296px);
}

#bottom-left {
  position: absolute;
  -webkit-transform: translateY(-130px);
          transform: translateY(-130px);
}

.line {
  width: 7%;
  margin: 15px 0;
  border-bottom: 1px solid black;
}

#k .wrapper {
  margin: 0 168px;
}

.items {
  color: #837d87;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.items .item {
  margin: 15px 15px 15px 0px;
  width: 63%;
}

#about {
  overflow: hidden;
}

#about img {
  position: absolute;
  height: 167px;
  -webkit-transform: translate(809px, 8px);
          transform: translate(809px, 8px);
}

.container-wrapper {
  background-color: #2d2640;
  color: #fafafa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 70px;
}

.container-wrapper .heading {
  width: 28%;
}

.container-wrapper .btn input {
  background-color: #2d2640;
  color: #fafafa;
  border: 1px solid #fafafa;
  padding: 10px;
  text-transform: uppercase;
}

.footer {
  padding: 40px 168px;
  text-transform: uppercase;
  background-color: #fafafa;
}

.footer #footer-img {
  position: absolute;
  -webkit-transform: translate(-164px, -37px);
          transform: translate(-164px, -37px);
}

.footer div .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 0;
}

.footer div .footer-nav .social-media img {
  padding: 0 5px;
}

.footer .line {
  width: 100%;
  border-bottom: 1px solid #95a9c6;
  margin: 10px 0;
}

.links {
  margin: 20px 0 30px;
}

.links #first-row {
  color: #95a9c6;
}

.links div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  margin: 5px 0;
}
/*# sourceMappingURL=style.css.map */